@keyframes float {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}

.animate-float {
    animation: float 10s linear infinite;
}

@keyframes borderGlow {
    0% {
        box-shadow: 0 0 5px #ff6b6b1a,
            0 0 10px #ff6b6b1a,
            0 0 15px #ff6b6b1a;
    }

    50% {
        box-shadow: 0 0 10px #ff6b6b33,
            0 0 20px #ff6b6b33,
            0 0 30px #ff6b6b33;
    }

    100% {
        box-shadow: 0 0 5px #ff6b6b1a,
            0 0 10px #ff6b6b1a,
            0 0 15px #ff6b6b1a;
    }
}

.animate-border-glow {
    animation: borderGlow 2s infinite;
}